@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #87CEEB;
    --secondary-color: #f9f9f9;
    --tertiary-color: #FF9900;
}

body {
    background-color: var(--primary-color);
}

button.btn-primary {
    @apply px-4 py-2 rounded border-2 border-b-4 border-black bg-tertiary font-bold;
}

@layer components {
    .bg-secondary {
        background-color: var(--secondary-color);
    }

    .bg-tertiary {
        background-color: var(--tertiary-color);
    }
}